@media (max-width: 900px) {

    .products {
        display: inherit;
        height: auto;
    }

    .product {
        margin-top: auto;
    }

    .main_section{
        padding: 4%;
    }

    .characters{
        display: inherit;
    }

    .comments{
        flex-wrap: wrap;
        width: 400px;
        height: 1888px;
    }


    .row__gap {
        display: flex;
        justify-content: space-around;
    }


    .row__gap h2{
        font-size: 20px;
        text-align: center;
    }
    .row__gap p{
        font-size: 15px;
        text-align: left;
    }

    .row__pay {
        max-width: 400px;
    }
    .container{  
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 100%;
    }

    .references_title{
        padding-left: 25%;
    }

}
@media (max-width: 600px) {

    /* .products {
        display: inherit;
        height: auto;
    }

    .product {
        margin-top: auto;
    }

    .main_section{
        padding: 4%;
    }

    .characters{
        display: inherit;
    }

    .comments{
        flex-wrap: wrap;
        width: 400px;
        height: 1888px;
    }

    .references_title{
        padding-left: 25%;
    } */

    .row__gap img{
            width: 180px;
    }

}

@media (max-width: 360px) {



    .references_title{

        padding-left: 25px;

    }

    .products{
        object-fit: cover;
    }

    .row__gap {
        text-align: center;
        display: flex;
        flex-direction: column;

    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    .product__content--img{

    padding-left: -100px;  
    height: 150px;
    object-fit: cover;

}

.row__product--info {
    flex-direction: column;
    text-align: center;
}

nav li {
    padding-right: 10px;
}

footer {
    flex-direction: column;
}

}