@media (max-width: 600px) {

    .products {
        display: inherit;
        height: auto;
    }

    .product {
        margin-top: auto;
    }

    .main_section{
        padding: 4%;
    }

    .characters{
        display: inherit;
    }

    .comments{
        flex-wrap: wrap;
        width: 400px;
        height: 1888px;
    }

    .references_title{
        padding-left: 25%;
    }

}

@media (max-width: 360px) {


    .references_title{

        padding-left: 25px;

    }


    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    
    .product__content--img{

    padding-left: -100px;  
    height: 150px;

}

nav li {
    padding-right: 10px;
}

}